@import "tailwindcss";

body {
	font-family: "Nunito", sans-serif;
	background-color: #f3f4f6;
}
.center-container {
	display: grid;
	place-items: center;
	height: 100vh;
}
.center-container.start-center {
	place-items: start center;
}
.centered-box {
	width: 100%;
	max-width: 375px;
	min-height: 100vh;
	background: #ffffff;
}
.signup-title {
	margin-bottom: 36px;
	line-height: 30px;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
}
.intro-desc {
	margin-top: 41px;
	margin-bottom: 60px;
	line-height: 25px;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	color: #979797;
}
.img-face-id {
	width: 183px;
	height: 182px;
	margin-bottom: 178px;
	cursor: pointer;
}
.btn-face-id,
.btn-intro {
	width: 299px;
	height: 65px;
	line-height: 65px;
	background-color: #252b2f;
	border-radius: 1.25rem;
	font-size: 1.5rem;
	font-weight: 700;
	color: #ffffff;
	cursor: pointer;
}
.avatar-box {
	width: 44px;
	height: 44px;
	margin-bottom: 10px;
	border-radius: 50%;
	background-color: #d0b499;
}
.lbl-total-asset {
	margin-bottom: 12px;
	line-height: 22px;
	font-size: 20px;
	font-weight: 700;
	color: #bbbbbb;
}
.val-total-asset {
	line-height: 22px;
	font-size: 40px;
	font-weight: 700;
	color: #000000;
}
.box-asset {
	min-width: 250px;
	padding: 1rem;
	box-shadow: 0px 4px 4px 0px #00000040;
	border-radius: 20px;
}
.box-asset .img-asset {
	width: 46px;
	height: 46px;
}
.box-asset .name-asset {
	line-height: 22px;
	font-size: 24px;
	font-weight: 700;
	color: #000000;
}
.box-asset .i-addr-asset {
	width: 8px;
	height: 8px;
}
.box-asset .addr-asset {
	margin-bottom: -1px;
	font-size: 8px;
	font-weight: 700;
	line-height: 22px;
	color: #bbbbbb;
}
.box-asset .value-asset {
	font-size: 24px;
	font-weight: 700;
	line-height: 22px;
}
.box-asset .inc-value-asset {
	font-size: 10px;
	font-weight: 700;
	line-height: 22px;
	color: #3ddc10;
}
.help-title {
	text-align: center;
	line-height: 22px;
	font-size: 20px;
	font-weight: 700;
	color: #000000;
}
.help-input {
	background-color: #e9e9e9;
	width: 100%;
	height: 60px;
	padding-left: 16px;
	padding-right: 60px;
	border-radius: 30px;
	line-height: 22px;
	font-size: 20px;
	font-weight: 700;
	color: #000000;
}
.help-input::placeholder {
	color: #bbbbbb;
}
.help-button {
	top: 3px;
	right: 3px;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	background-color: #ffffff;
	transition: all 0.25s ease-out;
}
.help-button img {
	height: 32px;
}
.help-button.active {
	background-color: #000000;
}
.help-button.active img {
	filter: invert(100%);
}
.quick-title {
	line-height: 22px;
	font-size: 20px;
	font-weight: 700;
	color: #bbbbbb;
}
.quick-box {
	border-radius: 20px;
	background-color: #f1f1f1;
}
.quick-name {
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
}
.quick-desc {
	font-size: 10px;
	font-weight: 400;
	line-height: 14px;
	color: #828282;
}
.img-buy {
	width: 29px;
	height: 25px;
}
.img-send {
	width: 20px;
	height: 20px;
}
.img-receive {
	width: 23px;
	height: 24px;
}
.chat {
	width: 100%;
	margin-left: -1rem;
}
.chat .help-input {
	height: 37px;
	font-size: 16px;
}
.chat .help-button {
	top: 18px;
	right: 18px;
	width: 33px;
	height: 33px;
}
.chat .help-button img {
	height: 23px;
}
.btn-add-crypto {
	display: block;
	font-family: Nunito;
	font-weight: 700;
	font-size: 24px;
	line-height: 22px;
	color: #fe62d7;
	cursor: pointer;
}
.btn-skip-now {
	display: block;
	font-family: Nunito;
	font-weight: 700;
	font-size: 24px;
	line-height: 22px;
	color: #bbbbbb;
	cursor: pointer;
}
